body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
}
#u2472 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2475 {
  position:absolute;
  left:10px;
  top:29px;
  width:375px;
  height:45px;
}
#u2476 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u2477 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:21px;
}
#u2478 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2479 {
  position:absolute;
  left:173px;
  top:42px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2480 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2481 {
  position:absolute;
  left:22px;
  top:32px;
  width:22px;
  height:35px;
  font-size:36px;
  color:#FFFFFF;
}
#u2482 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2484 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2485 {
  position:absolute;
  left:12px;
  top:75px;
  width:373px;
  height:44px;
}
#u2486 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2487 {
  position:absolute;
  left:21px;
  top:83px;
  width:315px;
  height:28px;
}
#u2488 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2489 {
  position:absolute;
  left:34px;
  top:90px;
  width:14px;
  height:14px;
}
#u2490 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u2491 {
  position:absolute;
  left:53px;
  top:88px;
  width:122px;
  height:21px;
  color:#BABABA;
}
#u2492 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u2493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2493 {
  position:absolute;
  left:311px;
  top:91px;
  width:13px;
  height:13px;
}
#u2494 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#57ADEC;
}
#u2495 {
  position:absolute;
  left:342px;
  top:87px;
  width:35px;
  height:22px;
  color:#57ADEC;
}
#u2496 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u2497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2497 {
  position:absolute;
  left:28px;
  top:155px;
  width:132px;
  height:27px;
}
#u2498 {
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u2499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2499 {
  position:absolute;
  left:192px;
  top:155px;
  width:51px;
  height:27px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u2501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2501 {
  position:absolute;
  left:267px;
  top:155px;
  width:80px;
  height:27px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u2503 {
  position:absolute;
  left:28px;
  top:129px;
  width:78px;
  height:16px;
  color:#C9C9C9;
  text-align:center;
}
#u2504 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
