body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2579 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
}
#u2580 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2582 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2583 {
  position:absolute;
  left:10px;
  top:29px;
  width:375px;
  height:45px;
}
#u2584 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u2585 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:21px;
}
#u2586 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2587 {
  position:absolute;
  left:173px;
  top:42px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2588 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2589 {
  position:absolute;
  left:22px;
  top:32px;
  width:22px;
  height:35px;
  font-size:36px;
  color:#FFFFFF;
}
#u2590 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2591 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2592 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2593 {
  position:absolute;
  left:12px;
  top:76px;
  width:373px;
  height:44px;
}
#u2594 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2595 {
  position:absolute;
  left:21px;
  top:84px;
  width:315px;
  height:28px;
}
#u2596 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2597 {
  position:absolute;
  left:34px;
  top:91px;
  width:14px;
  height:14px;
}
#u2598 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u2599 {
  position:absolute;
  left:53px;
  top:88px;
  width:75px;
  height:21px;
  color:#BABABA;
}
#u2600 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u2601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2601 {
  position:absolute;
  left:311px;
  top:92px;
  width:13px;
  height:13px;
}
#u2602 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#57ADEC;
}
#u2603 {
  position:absolute;
  left:342px;
  top:88px;
  width:35px;
  height:22px;
  color:#57ADEC;
}
#u2604 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u2605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2605 {
  position:absolute;
  left:21px;
  top:130px;
  width:196px;
  height:15px;
  font-size:12px;
}
#u2606 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u2607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2607 {
  position:absolute;
  left:93px;
  top:201px;
  width:209px;
  height:16px;
  text-align:center;
}
#u2608 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
