body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  position:absolute;
  left:10px;
  top:29px;
  width:375px;
  height:45px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u1260 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:21px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1262 {
  position:absolute;
  left:173px;
  top:42px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u1264 {
  position:absolute;
  left:22px;
  top:32px;
  width:22px;
  height:35px;
  font-size:36px;
  color:#FFFFFF;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1267 {
  position:absolute;
  left:35px;
  top:627px;
  width:320px;
  height:50px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1269 {
  position:absolute;
  left:35px;
  top:626px;
  width:320px;
  height:1px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1271 {
  position:absolute;
  left:98px;
  top:635px;
  width:22px;
  height:22px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(9, 138, 232, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1273 {
  position:absolute;
  left:294px;
  top:635px;
  width:22px;
  height:22px;
  color:#098AE8;
}
#u1274 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1275 {
  position:absolute;
  left:83px;
  top:659px;
  width:50px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#098AE8;
  text-align:center;
}
#u1277 {
  position:absolute;
  left:293px;
  top:659px;
  width:24px;
  height:13px;
  font-size:10px;
  color:#098AE8;
  text-align:center;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1279 {
  position:absolute;
  left:11px;
  top:74px;
  width:373px;
  height:50px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:27px;
  top:91px;
  width:59px;
  height:16px;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1283 {
  position:absolute;
  left:239px;
  top:91px;
  width:116px;
  height:16px;
  text-align:right;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  position:absolute;
  left:11px;
  top:221px;
  width:373px;
  height:50px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1287 {
  position:absolute;
  left:28px;
  top:237px;
  width:59px;
  height:16px;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1289 {
  position:absolute;
  left:242px;
  top:238px;
  width:116px;
  height:16px;
  text-align:right;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1291 {
  position:absolute;
  left:284px;
  top:238px;
  width:98px;
  height:16px;
  text-align:right;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1293 {
  position:absolute;
  left:11px;
  top:123px;
  width:373px;
  height:50px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1295 {
  position:absolute;
  left:27px;
  top:140px;
  width:59px;
  height:16px;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1297 {
  position:absolute;
  left:239px;
  top:140px;
  width:116px;
  height:16px;
  text-align:right;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1299 {
  position:absolute;
  left:11px;
  top:172px;
  width:373px;
  height:50px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1301 {
  position:absolute;
  left:27px;
  top:189px;
  width:59px;
  height:16px;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1303 {
  position:absolute;
  left:239px;
  top:189px;
  width:116px;
  height:16px;
  text-align:right;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1305 {
  position:absolute;
  left:11px;
  top:270px;
  width:373px;
  height:50px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1307 {
  position:absolute;
  left:28px;
  top:287px;
  width:59px;
  height:16px;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1309 {
  position:absolute;
  left:242px;
  top:288px;
  width:116px;
  height:16px;
  text-align:right;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1311 {
  position:absolute;
  left:282px;
  top:287px;
  width:98px;
  height:16px;
  text-align:right;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1313 {
  position:absolute;
  left:343px;
  top:189px;
  width:37px;
  height:16px;
  text-align:right;
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1315 {
  position:absolute;
  left:343px;
  top:140px;
  width:37px;
  height:16px;
  text-align:right;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1317 {
  position:absolute;
  left:58px;
  top:627px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1318 {
  position:absolute;
  left:255px;
  top:627px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
