body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:81px;
  top:143px;
  width:1073px;
  height:427px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u3 {
  position:absolute;
  left:129px;
  top:0px;
  width:143px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u5 {
  position:absolute;
  left:272px;
  top:0px;
  width:118px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:30px;
}
#u7 {
  position:absolute;
  left:390px;
  top:0px;
  width:678px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:674px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:129px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u11 {
  position:absolute;
  left:129px;
  top:30px;
  width:143px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u13 {
  position:absolute;
  left:272px;
  top:30px;
  width:118px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:30px;
}
#u15 {
  position:absolute;
  left:390px;
  top:30px;
  width:678px;
  height:30px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:674px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:60px;
  width:129px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u19 {
  position:absolute;
  left:129px;
  top:60px;
  width:143px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u21 {
  position:absolute;
  left:272px;
  top:60px;
  width:118px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:30px;
}
#u23 {
  position:absolute;
  left:390px;
  top:60px;
  width:678px;
  height:30px;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:674px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:84px;
}
#u25 {
  position:absolute;
  left:0px;
  top:90px;
  width:129px;
  height:84px;
}
#u26 {
  position:absolute;
  left:2px;
  top:34px;
  width:125px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:84px;
}
#u27 {
  position:absolute;
  left:129px;
  top:90px;
  width:143px;
  height:84px;
}
#u28 {
  position:absolute;
  left:2px;
  top:34px;
  width:139px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u29 {
  position:absolute;
  left:272px;
  top:90px;
  width:118px;
  height:84px;
}
#u30 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:84px;
}
#u31 {
  position:absolute;
  left:390px;
  top:90px;
  width:678px;
  height:84px;
  text-align:left;
}
#u32 {
  position:absolute;
  left:2px;
  top:26px;
  width:674px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:51px;
}
#u33 {
  position:absolute;
  left:0px;
  top:174px;
  width:129px;
  height:51px;
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
}
#u35 {
  position:absolute;
  left:129px;
  top:174px;
  width:143px;
  height:51px;
}
#u36 {
  position:absolute;
  left:2px;
  top:18px;
  width:139px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:51px;
}
#u37 {
  position:absolute;
  left:272px;
  top:174px;
  width:118px;
  height:51px;
}
#u38 {
  position:absolute;
  left:2px;
  top:18px;
  width:114px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:51px;
}
#u39 {
  position:absolute;
  left:390px;
  top:174px;
  width:678px;
  height:51px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:674px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:123px;
}
#u41 {
  position:absolute;
  left:0px;
  top:225px;
  width:129px;
  height:123px;
}
#u42 {
  position:absolute;
  left:2px;
  top:54px;
  width:125px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:123px;
}
#u43 {
  position:absolute;
  left:129px;
  top:225px;
  width:143px;
  height:123px;
}
#u44 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:123px;
}
#u45 {
  position:absolute;
  left:272px;
  top:225px;
  width:118px;
  height:123px;
}
#u46 {
  position:absolute;
  left:2px;
  top:54px;
  width:114px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:123px;
}
#u47 {
  position:absolute;
  left:390px;
  top:225px;
  width:678px;
  height:123px;
  text-align:left;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:674px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:74px;
}
#u49 {
  position:absolute;
  left:0px;
  top:348px;
  width:129px;
  height:74px;
}
#u50 {
  position:absolute;
  left:2px;
  top:29px;
  width:125px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:74px;
}
#u51 {
  position:absolute;
  left:129px;
  top:348px;
  width:143px;
  height:74px;
}
#u52 {
  position:absolute;
  left:2px;
  top:29px;
  width:139px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:74px;
}
#u53 {
  position:absolute;
  left:272px;
  top:348px;
  width:118px;
  height:74px;
}
#u54 {
  position:absolute;
  left:2px;
  top:29px;
  width:114px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:74px;
}
#u55 {
  position:absolute;
  left:390px;
  top:348px;
  width:678px;
  height:74px;
  text-align:left;
}
#u56 {
  position:absolute;
  left:2px;
  top:13px;
  width:674px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:81px;
  top:623px;
  width:140px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:265px;
  top:623px;
  width:140px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
