body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2528 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
}
#u2529 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2532 {
  position:absolute;
  left:10px;
  top:29px;
  width:375px;
  height:45px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u2534 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:21px;
}
#u2535 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2536 {
  position:absolute;
  left:173px;
  top:42px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2537 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2538 {
  position:absolute;
  left:22px;
  top:32px;
  width:22px;
  height:35px;
  font-size:36px;
  color:#FFFFFF;
}
#u2539 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2540 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2542 {
  position:absolute;
  left:12px;
  top:75px;
  width:373px;
  height:44px;
}
#u2543 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2544 {
  position:absolute;
  left:21px;
  top:83px;
  width:315px;
  height:28px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2546 {
  position:absolute;
  left:34px;
  top:90px;
  width:14px;
  height:14px;
}
#u2547 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u2548 {
  position:absolute;
  left:53px;
  top:88px;
  width:122px;
  height:21px;
  color:#BABABA;
}
#u2549 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u2550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2550 {
  position:absolute;
  left:311px;
  top:91px;
  width:13px;
  height:13px;
}
#u2551 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#57ADEC;
}
#u2552 {
  position:absolute;
  left:341px;
  top:87px;
  width:35px;
  height:22px;
  color:#57ADEC;
}
#u2553 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u2554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2554 {
  position:absolute;
  left:28px;
  top:155px;
  width:132px;
  height:27px;
}
#u2555 {
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u2556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2556 {
  position:absolute;
  left:192px;
  top:155px;
  width:51px;
  height:27px;
}
#u2557 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u2558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2558 {
  position:absolute;
  left:267px;
  top:155px;
  width:80px;
  height:27px;
}
#u2559 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u2560 {
  position:absolute;
  left:28px;
  top:129px;
  width:78px;
  height:16px;
  color:#C9C9C9;
  text-align:center;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
