body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:812px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2673 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:667px;
}
#u2674 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2677 {
  position:absolute;
  left:10px;
  top:29px;
  width:375px;
  height:45px;
}
#u2678 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u2679 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:21px;
}
#u2680 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2681 {
  position:absolute;
  left:173px;
  top:42px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2682 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u2683 {
  position:absolute;
  left:22px;
  top:32px;
  width:22px;
  height:35px;
  font-size:36px;
  color:#FFFFFF;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2685 {
  position:absolute;
  left:11px;
  top:75px;
  width:373px;
  height:170px;
}
#u2686 {
  position:absolute;
  left:2px;
  top:77px;
  width:369px;
  word-wrap:break-word;
}
#u2687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2687 {
  position:absolute;
  left:320px;
  top:290px;
  width:47px;
  height:21px;
  color:#999999;
}
#u2688 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u2689 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u2690 {
  position:absolute;
  left:11px;
  top:327px;
  width:375px;
  height:44px;
  color:#AEAEAE;
}
#u2691 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 138, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u2692 {
  position:absolute;
  left:11px;
  top:327px;
  width:184px;
  height:44px;
  color:#098AE8;
}
#u2693 {
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u2694 {
  position:absolute;
  left:80px;
  top:339px;
  width:61px;
  height:21px;
  color:#098AE8;
}
#u2695 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u2696 {
  position:absolute;
  left:257px;
  top:341px;
  width:61px;
  height:21px;
  color:#AEAEAE;
}
#u2697 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u2698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2698 {
  position:absolute;
  left:19px;
  top:255px;
  width:338px;
  height:34px;
}
#u2699 {
  position:absolute;
  left:2px;
  top:8px;
  width:334px;
  word-wrap:break-word;
}
#u2700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2700 {
  position:absolute;
  left:19px;
  top:290px;
  width:214px;
  height:21px;
  color:#999999;
}
#u2701 {
  position:absolute;
  left:2px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:224px;
}
#u2702 {
  position:absolute;
  left:11px;
  top:371px;
  width:373px;
  height:224px;
}
#u2703 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2706 {
  position:absolute;
  left:11px;
  top:629px;
  width:184px;
  height:48px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u2708 {
  position:absolute;
  left:61px;
  top:644px;
  width:84px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u2709 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u2710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:48px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2712 {
  position:absolute;
  left:195px;
  top:628px;
  width:189px;
  height:48px;
}
#u2713 {
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(17, 142, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u2714 {
  position:absolute;
  left:261px;
  top:643px;
  width:59px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u2715 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u2716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2716 {
  position:absolute;
  left:399px;
  top:574px;
  width:150px;
  height:102px;
}
#u2717 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2718 {
  position:absolute;
  left:410px;
  top:485px;
  width:127px;
  height:16px;
}
#u2719 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2720 {
  position:absolute;
  left:161px;
  top:290px;
  width:159px;
  height:21px;
  color:#999999;
}
#u2721 {
  position:absolute;
  left:2px;
  top:2px;
  width:155px;
  word-wrap:break-word;
}
#u2722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2722 {
  position:absolute;
  left:410px;
  top:290px;
  width:402px;
  height:16px;
}
#u2723 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  white-space:nowrap;
}
#u2724 {
  position:absolute;
  left:19px;
  top:327px;
  width:169px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2725 {
  position:absolute;
  left:205px;
  top:330px;
  width:169px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
